@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .kinetic-bg {
    background: radial-gradient(circle at 50% 50%, rgba(142, 171, 255, 0.03) 0%, rgba(0, 0, 0, 0) 70%);
  }
  .glass-panel {
    background: rgba(38, 38, 38, 0.6);
    backdrop-filter: blur(24px);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
